@import "tailwindcss/components";
@import "tailwindcss/utilities";

.group-fieldtype {
    padding: 0 !important;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.group-fieldtype > .field-inner {
    display: none;
}

.group-fieldtype .section-fieldtype.form-group:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 1px;
}